[data-v-6f1c97c2]:active{background-color:#1c28341f}:active:is(.fw-dark[data-v-6f1c97c2] *){background-color:#ebf4fc29}.active[data-v-6f1c97c2]{background-color:#1c28341f}.active[data-v-6f1c97c2]:is(.fw-dark *){background-color:#ebf4fc29}
